Source: rake-completion
Section: devel
Priority: optional
Maintainer: Andrey Sitnik <andrey@sitnik.ru>
Build-Depends: debhelper (>= 7)
Standards-Version: 0.1~railsppa0
Vcs-Git: git://github.com/ai/rake-completion.git
Vcs-Browser: http://github.com/ai/rake-completion

Package: rake-completion
Architecture: any
Description: Bash completion for Rake
 Bash completion support for Rake, Ruby Make. It cache tasks to .rake_tasks~ and
 update it if it will be outdated.
